.button {
	font-size: 16px;
	padding: 14px 28px;
	color: #FFFFFF;
	border-radius: 52px;
	transition: all 0.2s ease;
	cursor: pointer;
	background-color: rgb(255, 0, 0);
	box-shadow: 0px 6px 0px rgb(200, 0, 0);
}

.button:hover {
	transform: translate(0px, 3px);
	box-shadow: 0px 3px 0px rgb(200, 0, 0);
}

.button:active {
	transform: translate(0px, 6px);
	box-shadow: 0px 0px 0px rgb(200, 0, 0);
}