.dark {
	--bg-color: #202124;
	--primary-color: #0a84ff;
	--secondary-color: #f4b400;
	--neutral-color: #303134;
	--card-bg: #282a36;
	--border-color: #3c4043;
	--hover-color: #4a4b50;
	--danger-color: #ff6659;
 }