.dark {
	--bg-color: #1e1e2f;
	--inverted-bg-color: #ffffff;

	--primary-color: #007bff;
	--secondary-color: #6c757d;
	--inverted-primary-color: #1e1e2f;
	--inverted-secondary-color: #343a40;

	--skeleton-color: #343a40;
	--skeleton-shadow: #2c2f33;
}