.light {
	--bg-color: #ffffff;
	--inverted-bg-color: #1e1e2f;

	--primary-color: #007bff;
	--secondary-color: #6c757d;
	--inverted-primary-color: #ffffff;
	--inverted-secondary-color: #f8f9fa;

	--primary-color-hover: #004a99;
	--secondary-color-hover: #3e4347;
	--inverted-primary-color-hover: #969696;
	--inverted-secondary-color-hover: #898989;

	--skeleton-color: #e0e0e0;
	--skeleton-shadow: #f5f5f5;
}