:root {
	--bg-color: #f9fafb;
	--primary-color: #1a73e8;
	--secondary-color: #fc0;
	--neutral-color: #f1f3f4;
	--card-bg: #fff;
	--border-color: #dadce0;
	--hover-color: #e8f0fe;
	--danger-color: #d93025;
}